<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- BookRepository bean -->
    <bean id="bookRepository" class="com.example.LibraryManagement.BookRepository" />

    <!-- BookService bean with dependency injection -->
    <bean id="bookService" class="com.example.LibraryManagement.BookService">
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>
